params.output_dir = "output"
params.ref_dir = "ref"

manifest {
    author = 'Stephen Kelly'
    // homePage = ''
    // description = ''
    mainScript = 'main.nf'
}

report {
    // enabled = true
    file = "nextflow-report.html"
}

trace {
    // enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    // enabled = true
    file = "timeline-report.html"
}

profiles {
    main {
        params.threadsSmall = 4
        params.threadsMid = 8
        params.threadsBig = 16
        params.threadsXL = 32
        process.container = "ncbi/tupac-lncur:preprocessing"
        docker {
            enabled = true
            runOptions = "-e threadsSmall='${params.threadsSmall}' -e threadsMid='${params.threadsSmall}' -e threadsBig='${params.threadsBig}' -e threadsXL=${params.threadsXL}"
            }
        process.$index_ref.cpus = params.threadsXL
        process.$align.cpus = params.threadsMid
        process.$align.maxForks = 4
    }
    ref {
        docker.enabled = false
    }
}
