.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
data/yy1alh1529605932.tsv
.DS_Store
data/chickspress/
data/relabeled/
data/split/
old
data/chickspress.bed
data/chickspress.tsv
.nextflow.log
.nextflow.log*
.nextflow
nextflow
*.fasta
*.gff
flowchart.dot
work*
test.nf
preprocessing/ref/
preprocessing/bin/
preprocessing/flowchart.dot*
preprocessing/trace.txt
preprocessing/output/
